/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.monsoon-container {
  height: 400px;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.monsoon-text {
  margin-left: 20px;
}

.beams-container {
  height: 400px;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 188, 219);
}

.beams-text {
  margin-right: 20px;
}

.move2-container {
  height: 400px;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 87, 30);
}

.move2-text {
  margin-left: 20px;
}