/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */



@media screen and (max-width: 1600px) {

  h2 {
    margin-bottom: 0.2rem;
  }
  h2.bottom-head {
    color: white;
  } 
  
  p {
    margin-top: 0.2rem;
    font-size: 15px;
    line-height: 1.2rem;
    
  } 
  p.monsoon-body {
    color: rgb(68, 68, 68);
  }
  p.bottom-body {
    color: white;
  }



  .monsoon-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .monsoon-content {
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .monsoon-text {
    margin-left: 20px;
  }

  .monsoon-img {
    width: 500px;
  }
  
  .beams-container {
    /* height: 400px; */
    /* padding-left: 150px; */
    /* margin-bottom: 50px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: rgb(65, 188, 219); */
    padding-bottom: 2rem;
  }

  .beams-content {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .beams-text {
    margin-right: 20px;
  }

  .beams-img {
    width: 50%;
  }
  
  .move2-container {
    /* height: 400px; */
    /* padding-left: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(233, 87, 30); */
  }

  .move2-content {
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .move2-text {
    margin-left: 20px;
  }

  .move2-img {
    width: 48%;
  }
  
  .bottom-container {
    height: 800px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(46,46,46);
    background: linear-gradient(180deg, rgba(46,46,46,1) 53%, rgba(119,119,119,1) 62%, rgba(255,255,255,1) 98%);
  }
}





/* Tablet Size  */



@media screen and (max-width: 1024px) {
  .monsoon-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .monsoon-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .monsoon-text {
    margin-left: 0px;
  }

  .monsoon-img {
    padding-top: 1.5rem;
    width: 500px;
  }

  .bottom-container {
    padding-top: 10rem;
    padding-bottom: 12rem;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .beams-container {
    /* height: 400px; */
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .beams-content {
    width: 70%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .beams-text {
    margin-right: 0px;
  }

  .beams-img {
    padding-top: 1.5rem;
    width: 500px;
  }
  
  .move2-container {
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .move2-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .move2-text {
    margin-left: 0px;
  }

  .move2-img {
    padding-top: 1.5rem;
    width: 500px;
  }
  
  
}


/* Phone */

@media screen and (max-width: 768px) {

  .monsoon-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .monsoon-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .monsoon-text {
    margin-left: 0px;
  }

  .monsoon-img {
    width: 500px;
  }

  .bottom-container {
    padding-top: 10rem;
    padding-bottom: 12rem;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .beams-container {
    /* height: 400px; */
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .beams-content {
    width: 90%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .beams-text {
    margin-right: 0px;
  }

  .beams-img {
    width: 500px;
  }
  
  .move2-container {
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .move2-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .move2-text {
    margin-left: 0px;
  }

  .move2-img {
    width: 500px;
  }

}


/* Mini Mini */


@media screen and (max-width: 600px) {

  /* .monsoon-content {
    width: 95%;
  } */

  .monsoon-img {
    width: 100%;
  }

  .beams-img {
    width: 100%;
  }

  .move2-img {
    width: 100%;
  }

  /* .beams-content {
    width: 95%;
  } */

  /* .move2-content {
    width: 95%;
  } */

}